---
layout: default
header-image: /images/ski-3.png
banner-supheading: Welcome to the
banner-heading: Ski Lover's Dream
banner-subheading: The Ultimate Ski-in Ski-out Experience
---

{% include header-banner.html %}

<!-- index grid -->

<section class="bg-blue grid md:grid-cols-2 items-center gap-[1px] border-t border-b border-blue">
    <!-- first row -->
    <div class="text-blue bg-light-blue md:min-h-screen p-10p flex md:items-end">
        <div class="pr-5p">
            <h2 class="editable font-serif text-4xl font-normal tracking-widest">Your Home Away From Home</h2>
            <p class="font-sans editable pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit provident! Autem temporibus a quo placeat sed dolorem incidunt quidem quas quod, minima nihil facilis ducimus, expedita fuga eaque architecto.</p>
            <a href="#" class="bg-blue text-light-blue font-sans px-5 py-1 uppercase">Book Now</a>
        </div>
    </div>
    <img src="/images/ski-17.png" class="object-cover object-top inset-0 w-full h-full max-h-screen hidden md:block" style="object-position: 50% 50%;">

    <!-- second row -->
    <div class="flex items-end min-h-screen bg-cover bg-center inset-0 w-full h-full" style="background-image: url(/images/ski-15.png); background-position: 50% 100%;">
        <div class="p-10p">
            <h3 class="editable font-serif text-4xl text-light-blue tracking-widest font-normal">In the Heart of the Alps</h3>
            <p class="font-sans editable text-light-blue pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem magnam molestiae quisquam distinctio magni tempore, eveniet libero. Labore accusamus non optio porro placeat numquam fuga totam minima perspiciatis harum.</p>
            <a href="/classes" class="bg-blue text-light-blue font-sans px-5 py-1 uppercase tracking-widest">Find Out More</a>
        </div>
        
    </div>
    <div class="grid grid-cols-2 gap-[1px] bg-blue md:min-h-screen">
        {% for item in site.data.features %}
        <div class="flex md:items-end bg-light-blue">
            <div class=" text-blue p-5p">
                <h3 class="font-serif text-xl tracking-widest font-normal">{{item.name}}</h3>
                <p class="font-sans">{{item.description}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>

</section>


<!-- Testimonials section -->
<section class="p-5p bg-white">
    <h2 class="font-serif text-4xl text-blue tracking-widest font-normal">Recent Reviews</h2>
    <div class="flex flex-nowrap gap-5 mx-auto overflow-x-scroll pl-1 pr-0 relative">
        {% for item in site.data.reviews %}

            {% include testimonial-loop-item.html %}

        {% endfor %}
    </div>
</section>
