<section class="bg-blue text-white p-5p grid grid-cols-3 md:grid-cols-5 gap-5 uppercase text-sm">
    <div class="">
        <p>Lorem Ipsum</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
    </div>
    <div class="">
        <p>Lorem Ipsum</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
    </div>
    <div class="">
        <p>Lorem Ipsum</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
    </div>

    <div class="shrink-0 text-left md:text-right col-span-2 flex md:justify-end">
        <form action="">
            <label for="email" class="block">Subscribe to our newsletter</label>
            <input type="email" id="email" name="email" required class="text-white border border-white bg-blue mt-3 w-full pl-1 mb-5">
            <button type="submit" class="block md:ml-auto border text-blue bg-white border-white hover:text-white hover:bg-blue hover:border-white transition md:px-4 py-2 tracking-widest uppercase">Subscribe</button>
        </form>
    </div>
</section>
<footer class="border-t-[1px] border-white bg-blue py-5">
    <a href="#" class="text-white ml-5p py-3 pr-3 uppercase text-sm tracking-widest font-sans">Terms of Use</a>
</footer>