<div class="basis-60p md:basis-30p shrink-0 relative pb-5 break-inside-avoid">
    <div class="relative break-inside-avoid">
        <div class="bg-cover relative min-h-50">
            <img src="{{item.image}}" class="absolute inset-0 w-full h-full object-cover object-center border border-blue">
        </div>
    </div>
    <div class="p-5 justify-center">
        <h4 class="font-serif text-xl uppercase text-center pb-3 border-b border-blue text-blue ">{{item.name}}</h4>
        <p class="font-sans text-sm text-center text-blue">{{item.review}}</p>
    </div>
</div>
